MONGODB_URI=mongodb+srv://sewnguyenp2206:Phu0005l5@postmortems-mongodb.g9eprnv.mongodb.net/?appName=postmortems-mongoDB
MONGODB_DB=postmortems
ALLOWED_ORIGINS=https://postmortems.sewtech.site
PORT=3000